header {
    position: relative;
    font-size: 72px;
    text-align: center;
    font-weight: bold;
    background: #cf8409;
    color: #000000;
}

nav {
    font-size: 20px;
    text-align: right;
    background: #c0c0a6;
}

body {
    background: #000000;
    color: #FFFFFF;
}

 nav a, nav a:hover, nav a:focus, nav a:active {
      text-decoration: none;
      color: inherit;
      margin: 2rem;
 }

.green {
    background: #00FF00;
    height: 3vmin;
    width: 3vmin;
    border: .25vmin solid white;
}

.blue {
    background: #0000FF;
    height: 3vmin;
    width: 3vmin;
    border: .25vmin solid white;
}

.orange {
    background: #FF6347;
    height: 3vmin;
    width: 3vmin;
    border: .25vmin solid white;
}

.yellow {
    background: #FFBF00;
    height: 3vmin;
    width: 3vmin;
    border: .25vmin solid white;
}

.black {
    background: #000000;
    height: 3vmin;
    width: 3vmin;
    border: .25vmin solid white;
}

ul {
    list-style-type: none;
}

li div{
    display: inline-block;
}
